<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "c_account/account.css" %}">
</head>
<body>


  <div class="createAccount">
    <div class="container">
      <form>
        <div class="form-control">
          <label for="firstName">First name</label>
          <input type="text" id="firstName" placeholder="first name" />
          <i class="fas fa-check-circle"></i>
          <i class="fas fa-exclamation-circle"></i>
          <small>Error Message</small>
        </div>

        <div class="form-control">
          <label for="lastname">Last name</label>
          <input type="text" id="lastName" placeholder="surname" />
          <i class="fas fa-check-circle"></i>
          <i class="fas fa-exclamation-circle"></i>
          <small>Error Message</small>
        </div>

        <div class="form-control">
          <label for="email">Email</label>
          <input type="text" id="email" placeholder="email" />
          <i class="fas fa-check-circle"></i>
          <i class="fas fa-exclamation-circle"></i>
          <small>Error Message</small>
        </div>

        <div class="form-control">
          <label for="password">Password</label>
          <input type="password" id="password" placeholder="password" />
          <i class="fas fa-check-circle"></i>
          <i class="fas fa-exclamation-circle"></i>
          <small>Error Message</small>
        </div>
          <script rel="stylesheet" src="c_account/{% static "c_account/js.js" %}"></script>

        <input type="submit" value="Create an account" />
      </form>
    </div>
</body>
</html>