{% extends "base.html" %}
{% block header %}
{% load static %}

    <link rel="stylesheet" href="{% static "home/paste.css" %}">
        <link rel="stylesheet" href="{% static "home/css3.css" %}">
    <link rel="stylesheet" href="{% static "home/just.css" %}">

{% endblock %}
{% block content %}
    	<div id="wrap">

	<div id="columns" class="columns_4">
    <br>
    {% for d in data %}
        <div class="summary">
      <ul style="float: left ; margin-right: 10px">
        <li class="total"><img class="img" src="static/images/{{ d.link_img }}" </li>
        <li>  <span>title : {{ d.title  }}</span></li>
        <li v-if="discount > 0">name : <span>{{ d.name  }}</span></li>
        <li>Price : <span>{{ d.price  }}</span></li>

      </ul>
    </div>
        <br>
        <br>
        <br>
    {% endfor %}


{% endblock %}